sudo: required
services:
- docker

before_install:
- docker build -t docker-react -f Dockerfile.dev .

script:
- docker run docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "us-east-1"
  name: "docker-react"
  env: "DockerReact-env"
  bucker_name: "elasticbeanstalk-us-east-1-951598467679"
  bucket_path: "docker-react"
  on: 
    branch: master
  acces_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: "$AWS_SECRET_KEY"